*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}


:root{
    --primary-color: orangered;
    --secondary-color: silver;

}
 #body a{
    text-decoration: none;
}
#body li{
    list-style: none;
}
#body{
  width: 100vw;
  background-color: rgba(128, 128, 128, 0.170);
  
}
#body button{
    border: none;
    outline: none;
}
#hidden-hero{
    background-image: url(images/pot6.jpg);
    background-size: cover;
    height: 100vh;
    display: none;
    background-repeat: no-repeat;
    background-color: black;


}
#hidden-hero h1{
    color: orangered;
    font-size: 80px;
    text-align: center;
}
#hidden-hero p{
    color: white;
    max-width: 50vw;
    text-align: center;
    margin-left: 7%;
}

#started{
    width: 200px;
    border: none;
    outline: none;
   height: 55px;
   border-radius:  20px 0 20px 0; 
   background-color: orangered;
   padding: 1.5% 3%;
   margin: 5% 0 0 37%;
   font-size: 20px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.black{
    width: 100vw;
    height: 100%;
    background-color:  rgba(0, 0, 0, 0.73);
    padding: 10% 20%;
}

.hero{
    display: flex;
    height: 85vh;
    width: 100vw;

 }

 .hero #left{ 
    min-width: 50vw;
    margin-left: -10%;

}

 .hero #left h1 span{ 
   
   font-size: 60px;
}

.back{
    width: 25vw;
    height: 50vh;
    margin:-5% 0 0 12%;
    box-shadow: 10px 2px 30px silver;
    border-radius: 50%;
    background-color: transparent;
    border: 30px solid orangered ;
}
.hero #left p{ 
    max-width: 35vw;
    margin: 3% 0;
float: left;
}
.bg #right{
    margin-left: -12%;
}
 .bg #right img{
    width: 700px;
    margin-left: 1vw;
    height: 450px;
    margin-top: -35%;
 }

 .hero h1{
     font-size: 70px;
     max-width: 50vw;
     line-height: 75px;
     margin-top: 5%;
      color: orangered;
 }
#navbar{
    width: 70vw;
     height: 12vh; 
     z-index: 1000;
    padding: 5px 0;
    width: 100vw;
    display: flex;
    position: fixed;
    background-color: orangered;
 
 
}

#webname{
    font-size: 40px;
    margin: 1% 0 0 5%;
 
   }
#webname a{
   font-weight: bold;
    color: white;
    margin-top: 3%;
}

#links{
    display: flex;
   
}

#links ul{
    display: flex;
    width: 100vw;
    margin-left: 2%;
}
#links ul li{
   padding: 2.4%  0 0 3%;
  
}

#links ul li a{
 font-size: 18px;
 color: white;
 font-weight: 1000;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hero{
    padding:   10%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


  #getStarted{
     font-size: 20px;
     box-shadow: 10px 0 20px silver;
     color: white;
    width: 200px;
    height: 55px;
    border: none;
    margin: 20% 0 0 -70%;
    border-radius:  20px 0 20px 0; 
    padding:  1.5% 3%;
    background-color: var(--primary-color);
}

/* ABOUT US */
#about{
    margin-top:5%;
    background-image: url(images/bg-4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
 #about .sec-box{
    width: 70vw;
    height: 100vh;
    margin-left: 20%;
    padding:  12% 5%;
    /* background-color: rgba(128, 128, 128, 0.170);
    box-shadow: 10px 2px 10px silver;  */
 }
.sec-title{
    display: flex;
    margin-left: 5%;
}
 .sec-title h1{
 font-size: 50px;
 font-family: 'Times New Roman', Times, serif;
 margin-top: -15px;

}

.line{
    width: 150px;
    height: 2px;
    margin: 1% 20px ;
    background-color: var(--primary-color);
}
.sec-body p{
     font-size: 15px;
     margin-top: 10%;
}

#about #getStarted{
    margin: 5% 0 5% 35%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 9px;
}


/* SERVICES */

#services .sec-box{
    padding: 3% 2%; 
    width: 100%;
    
}
#services .sec-title{
    padding-top: 5%;
    margin-left: 2%;
}
#services .sec-title h1{
     margin-left: -1%; 
    font-size: 50px;
}
#services .line{
    margin-top: 1%;
    gap: 1%;
}
#services .line:nth-child(1){
    margin-left: 20%;
}
#services .sec-body{
    margin-top: 5%;

}
.sec-body .card h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.sec-body .card{
    width: 23vw;
    gap: 1% 3%;
    height: 50vh;
    box-shadow: 10px 2px 30px silver;
    /* display: flex; */
   
    margin-left: 2%;
    background-color: whitesmoke;
    padding: 10% 5%;
}
#services .card .text{
    width: 100%;
    padding-top: 5%;
     
}
.row-1{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.card .text h4{
   color: orangered;
}
.card .text p{
    margin-top: 10%;
}


/*  */



/* HIRE SECTION */

#hire{
    width: 100vw;
    height: 50vh;
    padding: 2% 5%;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    box-shadow: 10px 2px 30px silver;
    background-color: orangered;
   
}

#hire .right{
    width: 50%;
    height: 20%;

}
#hire .right img{
    height: 80vh;
}
#hire .left{
    padding: 2%;
    width: 100%;
    margin: 0% 5% 0 2%;
    font-family: 'Times New Roman', Times, serif;
}

#hire .left h1{
    font-size: 60px;
    color:  white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#hire .left h4{
font-size: 20px;
max-width: 60vw;
margin-left: 15%;
}

#hire #getStarted{
    background-color:  white;
    padding: 1% 2% ; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    box-shadow: 10px 2px 30px silver;
    margin: 2% 0 0 39%;
}
#hire #getStarted:hover{
    transition: 3s all;
    background-color: black;
}

/* products */
#products{
    margin-top: 2%;
    padding: 5% 0;
}

#products .sec-title{
    margin:0 0 10% 21%;
    color: black;
}


.rec{
    width: 100%;
    height: 15vh;
    z-index: -1000;
    margin-top: -10%;
    background-color: var(--primary-color);
}
#products .sec-body .images{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 0 2%;
    margin-top: -5%;

}
#products .sec-body .images img{
    width: 300px;
      height: 300px;
    box-shadow: 10px 3px 30px silver;

}
#products .sec-body .images  a{
    margin-left: 0.8%;

}

/* subscribe  */

#subscribe{
    width: 100%;
    display: flex;
    height: 85vh;
    animation-delay: 6ms;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 5%;
    background-color: whitesmoke; 
    padding: 10%;
}

#leftnav_3{
    display: flex;
}
#leftnav_3 img{
    width: 22vw;
    height: 50vh;
    border: 15px solid white;
}
#leftnav_3 img:nth-child(2){
    transform: rotate(-25deg);
    margin-left: -30%;
}
#rightnav_3{
    margin-left: 5%;
}
#rightnav_3 h3{
    font-size: 22px;
    font-weight: bold;
}
#rightnav_3 p{
    font-size: 15px;
}
form{
    display: flex;
    margin-top: 10%;
}
form input{
 width: 60vw;
 background-color: white;
 padding: 3%;
 outline: none;
 color: black;
 font-size: 17px;
 border: white;
}
:placeholder{
    font-family: serif;
    font-size: 17px;
}
form button{
     color: orangered;
   background-color: black;
     padding: 3% 7%;
    
}

 @media (max-width: 1000px) {
    #subscribe{
        height: 80vh;
      
    }

    #leftnav_3 img{
        width: 70%;
        margin: 0 0 0 -15%;
    }
    #rightnav_3{
  width: 35vw;
  margin-left: 7%;
    }
#hide{
display: none;

}

} 

@media (max-width: 850px) {
     #subscribe{
        flex-direction: column;
        height: 130vh;
        padding-top: 10%;
     }
#leftnav_3 img{
    width: 50%;
    margin-left: 20%;
}
#rightnav_3{
    width: 86%;
    margin-top: 10%;
}
@media (max-width: 600px) {
  
     #leftnav_3{
        margin-left: -10%;
     }
     #leftnav_3 img{
        width: 60%;
     }
     #rightnav_3{
        margin-top: 20%;
     }
}
}

@media (max-width: 350px) {
    #webname h1{
        font-size: 30px;
    }
    #leftnav{
        border-top-right-radius: 50%;
        border-top-left-radius: 50%;
    }
     #subscribe{
        height: 160vh;
     }
     form{
        flex-direction: column;
     }
     form input{
        padding: 10%;
        width: 100%;
     }
     form  button{
        padding:  5%;
              
     }  
    } 


    /* footer */

    #footer{
        height: auto;
        padding: 3% 10%;
        justify-content: space-between;
        /* background-color: orangered; */
    }
    .foot-links{display: flex;}
    .foot-links ul{
        width: 100vw;
        display: flex;
        margin-left: 15%;
    }
    
    .foot-links ul li{
     
      margin-right: 5%;
        /* padding:0 10%; */
    }
    .foot-links ul li a,
     .foot-links ul li a:hover
    {
        color: black;
    }
    #bottom{
        width: 60vw;
        height: 2px;
        margin-left: 13%;
        
    }
  #footer h1{
    color: orangered;
    font-size: 70px;
  }

.anim{
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards ;
}

@keyframes moveup {
 100%{
    opacity: 1;
    transform: translateY(0);
 }
}








